---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Sobre mi';

const identity = {
    firstName: 'Christian',
    country: 'México',
    ocupation: 'Estudiante',
    hobbies: ['Aprender Astro', 'Aprender a programar', 'Aprender a hacer un sitio web']
};

const skills = ['HTML', 'CSS', 'JavaScript', 'Astro', 'buceo', 'fotografía'];
const happy = true;
const finished = true;
const goal = 3;

---
<BaseLayout pageTitle={pageTitle}>
  <p>He aqui algunos datos sobre mi</p>
  <ul>
    <li>Me llamo {identity.firstName}.</li>
      <li>Resido en {identity.country} y soy {identity.ocupation}.</li>
     {identity.hobbies.length >= 2 &&
      <li>Dos de mis aficiones son: {identity.hobbies[0]} y {identity.hobbies[1]}</li>
    }
    </ul>
    <p>Algunas de mis habilidades son: </p>
    <ul>
      {skills.map(skill => <li class="skill">{skill}</li>)}
    </ul>
   {happy && <p>Estoy feliz</p>}
   {finished && <p>He terminado el tutorial de Astro</p>}
   {goal == 3 ? <p>Mi objetivo es terminar en 3 dias </p> : <p>Mi objetivo no son 3 dias.</p>}
</BaseLayout>